* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --main-color: #1b325f;
  --secondary-color: #f2f2f2;
  --text-color: #fff;
  --roboto: 'Roboto', sans-serif;
  --oswald: 'Oswald', sans-serif;
  --leagueSpartan: 'League Spartan', sans-serif;
  --ibm: 'IBM Plex Sans', sans-serif;
}

.flex{
  display: flex;
}

.main-section{
  background-color: var(--main-color);
  width: 100%;
  height: 300vh;

  .margin-section{
    margin: auto 10%;

    .blank{
      width: 50%;
      height: 100vh;
    }
    .strong{
      color: var(--text-color);
      font-weight: bold;
      opacity: 1;
    }
    .text{
      color: rgba(255, 255, 255, 0.6);
      font-size: 1.2rem;
      text-align: center;
      font-family: var(--leagueSpartan);
      font-weight: 400;
      padding-top: 0.3rem;
      text-align: start;
    }
    .right-content{
      width: 50%;
      height: 100vh;
      padding: 5.3rem 0rem 0rem 3rem;

      .padding-top{
        padding-top: 1rem;
      }
    }

    .left-content{
      width: 40%;
      height: 100vh;
      flex-direction: column;
      align-items: start;
      padding-left: 4rem;
      z-index: 1;
      position: fixed;

      .text-title{
        color: var(--text-color);
        font-size: 3.5rem;
        text-align: center;
        font-weight: 600;
        padding-top: 5rem;
        padding-bottom: 0.5rem;
        font-family: var(--ibm);
        font-size: bold;
      }
      .text-subtitle{
        color: var(--text-color);
        font-size: 1.5rem;
        text-align: center;
        font-family: var(--ibm);
        font-weight: 600;
        opacity: 0.8;
      }
      .description{
        padding-top: 1.5rem;
        padding-bottom: 7rem;
      }
      .formatation{
        text-decoration: none;
      }
      .icons{
        margin-top: 8rem;
      }
    }
  }
}